# Image Processing
mss==10.0.0
opencv-python==4.11.0.86
pillow==11.1.0
pytesseract==0.3.13

# Scientific Computing
numpy==2.2.1

# Window Management
PyGetWindow==0.0.9
PyRect==0.2.0

# Game Logic
pokerkit==0.6.1

# Utilities
packaging==24.2